@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <!-- <title>@title</title> -->
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/fragment.ico")">
        <!-- Primary Meta Tags -->
        <title>Fragment Numbers Insight - Telegram Data Analytics & Visualization</title>
        <meta name="title" content="Fragment Numbers Insight - Telegram Data Analytics & Visualization">
        <meta name="description" content="Explore and analyze phone number data from the Fragment Telegram platform with our powerful RESTful and WebSocket APIs. Discover patterns and insights through interactive charts.">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://fragmenty.cloud/">
        <meta property="og:title" content="Fragment Numbers Insight - Telegram Data Analytics & Visualization">
        <meta property="og:description" content="Explore and analyze phone number data from the Fragment Telegram platform with our powerful RESTful and WebSocket APIs. Discover patterns and insights through interactive charts.">
        <meta property="og:image" content="https://fragmenty.cloud@routes.Assets.versioned("images/fragment_icon.svg")">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary">
        <meta property="twitter:url" content="https://fragmenty.cloud/">
        <meta property="twitter:title" content="Fragment Numbers Insight - Telegram Data Analytics & Visualization">
        <meta property="twitter:description" content="Explore and analyze phone number data from the Fragment Telegram platform with our powerful RESTful and WebSocket APIs. Discover patterns and insights through interactive charts.">
        <meta property="twitter:image" content="https://fragmenty.cloud@routes.Assets.versioned("images/fragment_icon.svg")">
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-95VF42P5WZ"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-95VF42P5WZ');
        </script>
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content

        <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" charset="utf-8"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript"></script>
    </body>
</html>
